<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>

  <!-- Header / Navigation Bar -->


  {{>navbar}}


  <!-- Main Header -->

  <div class="container-fluid main-menu">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">

          <!-- left side div -->

                <div class="col-md-6 col-12 main_header_left ">

                    
                     <h2>{{errorMsg}}</h2>
                            <a href="/"><button>Go Back</button></a>
                    

                </div>


                <!-- right side div -->

                <div class="col-md-6 col-12 main_header_right align-items-center">

                    <figure>
                        <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1932.jpg?w=2000"
                            alt="Error" id="error">
                           
                    </figure>

                </div>


      


      </div>
    </div>
  </div>

  {{>footer}}

</body>

</html>